*.py[cod]
# ROS
build/
log/
install/
crow_ontology/data/backup/*.owl
crow_ontology/config/db_config.yaml
rosbag2_*/
.directory
.vscode/
*.code-workspace
.idea
venv
crow_ontology/*/*.html
crow_ontology/*.html
crow_ontology/css
crow_ontology/images
crow_ontology/js
.oterm_*.txt
